server:
  port: 8088
spring:
  application:
    name: api-gateway
  #gateway配置
  cloud:
    gateway:
      routes: #路由规则
        - id: order_route #路由的唯一标识 先路由到订单
          uri: lb://order-service #需要转发的地址 lb就是使用nacos本地负载均衡策略
          predicates:  #断言规则 用于路由规则的匹配
            - Path=/order/**
            - After=2019-12-31T23:59:59.789+08:00[Asia/Shanghai]
            #-Header=X-Request-Id,\d+
            #-Method=GET
            #Query=name,tyza66|tyza77
            - CheckAuth=tyza66
          filters:
            - AddRequestHeader=X-Request-color,red

    nacos:
      discovery:
        server-addr: localhost:8848
        username: nacos
        password: nacos

